literature
olemodel/*
.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
*/*/.ipynb_checkpoints/*
*.o
*.mod
.*.swp
.*.swo
gmon.out
vgcore.*
data.txt
row.txt
col.txt
rhs.txt
sol.txt
ptr.txt
vgcore*
callgrind*
.#*
*.png
*.so
*.pyc
share
.nfs*
